@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@layer components {
  .addButton {
    @apply w-[50%] h-[50%] bg-green-200 border-3 text-black font-bold text-lg shadow-md hover:bg-green-100 rounded-full
  };

  .button {
    @apply w-full h-[50px] m-[2.5%] text-black font-bold sm:text-sm md:text-lg lg:text-2xl border-3 outline-none shadow-md hover:bg-green-100 p-2 items-center rounded-sm
  };

  .buttonDiv {
    @apply w-full flex flex-col items-center justify-evenly
  };

  .checkboxInput {
    @apply m-[2.5%] h-[90%] text-black hover:bg-gray-400 rounded-sm
  };

  .checkboxDiv {
    @apply bg-slate-100 w-full m-[2.5%] flex shadow-md items-center justify-evenly
  };

  .componentDiv {
    @apply flex flex-col my-[2.5%] w-full h-auto items-center justify-evenly
  };

  .subComponentDiv {
    @apply flex flex-col my-[2.5%] w-full h-auto items-center justify-evenly
  };
  
  .dateInputDiv {
    @apply bg-slate-100 m-[2.5%] w-full flex shadow-md rounded-sm items-center justify-around
  };

  .dateInput {
    @apply text-black w-[90%] h-[50] m-[2.5%] hover:bg-blue-200
  };

  .footerDisclaimerDiv {
    @apply w-[75%] flex items-center justify-center my-[2.5%]
  }

  .footerDisclaimerText {
    @apply text-white text-xs font-mono items-center justify-center
  }

  .footerDiv {
    @apply flex flex-col my-[2.5%] bg-slate-900 w-full items-center
  }

  .footerDivider{
    @apply text-white font-extrabold sm:text-xs md:text-sm lg:text-sm xl:text-lg mx-[1%]
  }

  .footerLinksDiv {
    @apply flex w-[75%] h-auto justify-center
  }

  .footerLinkText{
    @apply text-white font-mono font-extrabold sm:text-sm md:text-lg lg:text-xl xl:text-3xl mx-[2.5%]
  }

  .footerLinksSocialDiv {
    @apply flex w-[50%] items-center left-0 justify-center
  }

  .footerLinksTextDiv {
    @apply flex w-[50%] items-center right-0 justify-center
  }

  .footerLogoDiv {
    @apply flex h-auto m-[2.5%] items-center justify-center
  }

  .footerSocialIcons {
    @apply flex w-[10%] h-[100%] mx-[2.5%] fill-white
  }

  .formDiv {
    @apply w-[90%] mx-[10%] items-center justify-evenly
  };
  
  .logo {
    @apply sm:w-[90] sm:h-[50] md:w-[100] md:h-[55] w-[120] h-[60] m-[0.7%] p-[0.5] items-center justify-center
  }

  .pageTitleDiv {
    @apply m-[2.5%] w-full p-10 bg-slate-100 flex-col flex shadow-md items-center gap-x-4 gap-y-2 rounded-xl shadow-slate-100
  };
  
  .pageTitle {
    @apply text-2xl items-center
  };

  .selectInputDiv {
    @apply bg-slate-100 m-[2.5%] w-full flex items-center shadow-md text-black rounded-sm
  };

  .selectInput {
    @apply w-full h-[50] mr-[10%] text-black hover:bg-blue-200 rounded-sm
  };

  .tableDiv {
    @apply bg-green-200 w-full items-center justify-evenly rounded-sm
  };

  .tableList {
    @apply text-center items-center justify-evenly
  };

  .tableListItem {
    @apply font-mono text-lg font-bold items-center
  };

  .tableName {
    @apply text-xl m-[2.5%] text-center items-center justify-evenly
  };

  .textInput {
    @apply w-full h-[50] mr-[10%] text-black hover:bg-blue-200 rounded-sm
  };

  .textInputDiv {
    @apply bg-slate-100 m-[2.5%] w-full flex items-center shadow-md text-black rounded-sm
  };

  .textInputImage {
    @apply mx-[2.5%] w-[7%] h-[7%]
  };
  
  .imageFluid {
    @apply sm:w-[25%] md:w-[50%] lg:w-[75%] m-[2.5%] hover:bg-blue-200
  };
}