name: Playwright workflow
on:
  push:
   branches:
     - main
jobs:
  playwright_test:
    name: ui browser test
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: actions/setup-node@v4
      with: 
       node-version: lts/*
    - name: Install Dependencies
      run: 
        npm install
      working-directory: dpro_userinterfaces/bat_ui/
    - name: Playwright tests
      run:
       npm i -D @playwright/test@latest
       npx playwright install
    - name: Playwright run
      run: 
        npx Playwright test tests/interview.spec.ts  --project=chromium
    - uses: actions/upload-artifact@v4
      with:
        name: playwright-test-report
        path: playwright-test-report/
        retention-days: 7
